@rightTeam: #00ad3d;
@leftTeam: #d8cb01;

body, html {
    width: 100%;
    height: 100%;
    background-color: #d8015e;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color: #fff;
}

html.joined, html.joined body {
    //    height: auto;
}

.side-select-column {

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;

    .icon {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        text-align: center;

        top: 45%;
        position: absolute;
        left: 15%;
        right: 15%;
        padding: 40px 0;
        font-size: 30px;
        font-weight: bold;
    }

}

.side-select-column.left-team {
    background-color: @leftTeam;
}

.side-select-column.right-team {
    left: 50%;
    background-color: @rightTeam;
}

h1.select-team {
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    top: 20px;
    position: relative;
}

.username-wrapper {

    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 50px;
    left: 50px;
    right: 50px;

    input {
        width: 100%;
    }

}

body.in-game {

}

.game-board {
    height: 100%;
    overflow-y: scroll;

    .paddle-scroll {
        background-image: url('../images/congruent_outline.png');
        width: 100%;
        height: 150%;
    }

}