
<div data-ng-if="side && !player">

    <form class="username-wrapper" data-ng-submit="enterUsername(username)">

        <label>enter your username</label>
        <input type="text" data-ng-model="username"/>
        <button type="button" data-ng-click="enterUsername(username)">Join</button>

    </form>

</div>

<div class="colors" data-ng-if="side && player && !player.color">

    <div class="block" data-ng-repeat="color in colors track by $index" style="background-color: {{color}}" data-ng-click="selectColor(color)"></div>

</div>

<div data-ng-if="joined" id="game-board" onscroll="onScroll()" class="game-board">


    <div class="paddle-scroll">
        <div class="score" style="color: {{player.color}}">{{player.score}}</div>

    </div>

</div>

<div data-ng-click="selectTeam('left')" class="left-team side-select-column" data-ng-if="!side">

    <div class="icon">
        &lt;-
    </div>

</div>

<div data-ng-click="selectTeam('right')" class="right-team side-select-column" data-ng-if="!side">

    <div class="icon">
        ->
    </div>

</div>

<h1 class="select-team" data-ng-if="!side">
    Select a Side
</h1>
