
<div data-ng-click="selectTeam('left')" class="left-team side-select-column" data-ng-if="!side">

    <div class="icon">
        &lt;-
    </div>

</div>

<div data-ng-click="selectTeam('right')" class="right-team side-select-column" data-ng-if="!side">

    <div class="icon">
        ->
    </div>

</div>

<h1 class="select-team" data-ng-if="!side">
    Select a Side
</h1>

<div data-ng-if="side && !user">

    <div class="username-wrapper">

        <label>enter your username</label>
        <input type="text" data-ng-model="username" />
        <button>Join</button>

    </div>

</div>
