body,
html {
  width: 100%;
  height: 100%;
  background-color: #d8015e;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  color: #fff;
}
.side-select-column {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
}
.side-select-column .icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-align: center;
  top: 45%;
  position: absolute;
  left: 15%;
  right: 15%;
  padding: 40px 0;
}
.side-select-column.left-team {
  background-color: #d8cb01;
}
.side-select-column.right-team {
  left: 50%;
  background-color: #00ad3d;
}
h1.select-team {
  text-align: center;
  font-size: 100px;
  font-weight: 200;
  top: 20px;
  position: relative;
}
.username-wrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 50px;
  left: 50px;
  right: 50px;
}
.username-wrapper input {
  width: 100%;
}
.game-board {
  height: 100%;
  overflow-y: scroll;
}
.game-board .paddle-scroll {
  background-image: url('../images/congruent_outline.png');
  width: 100%;
  height: 150%;
}
