body,
html {
  width: 100%;
  height: 100%;
  background-color: #1c2024;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  color: #f4f8fb;
}
body {
  background: url('../images/loading.png') center center no-repeat;
}
.side-select-column {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
}
.side-select-column .icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-align: center;
  top: 45%;
  position: absolute;
  left: 15%;
  right: 15%;
  padding: 40px 0;
  font-size: 30px;
  font-weight: bold;
}
.side-select-column.left-team .icon {
  background: url('../images/arrow.svg') no-repeat center center #606dd3;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Opera, Chrome, and Safari */
}
.side-select-column.right-team {
  left: 50%;
}
.side-select-column.right-team .icon {
  background: url('../images/arrow.svg') no-repeat center center #d26a5d;
}
h1.select-team {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  top: 20px;
  position: relative;
}
.username-wrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 50px;
  left: 50px;
  right: 50px;
}
.username-wrapper input {
  width: 100%;
}
.game-board {
  height: 100%;
  overflow-y: scroll;
}
.game-board .paddle-scroll {
  background-image: url('../images/congruent_outline.png');
  width: 100%;
  height: 150%;
}
.score {
  font-size: 200px;
  text-align: center;
  padding-top: 200px;
}
.colors {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.colors .block {
  width: 50%;
  height: 33.3%;
  float: left;
}
